<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "User Management" }) %></section>

<section class="content">
  <div class="box">
    <div id="modalPlaceHolder" class="box-body" />
    <button class="btn btn-success btn-lg add-user-btn" onclick="redirectToAddUser()">Add User</button>
    <button class="btn btn-success btn-lg add-user-btn" onclick="redirectToBatchAddUser()">Import CSV</button>
    <div id="view-table" class="box-body">
      <%= userTable({ userLists: [] }) %>
    </div>
  </div>
  <%= loading() %>
</section>
