.divider {
  border-top: 1px solid #7c7c7c;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.disabled {
  pointer-events: none;
  color: silver;
  cursor: default;
}

.add-user-btn {
  margin: 10px;
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
}


.form-register {
  max-width: 360px;
  padding: 30px;
  margin: 0 auto;
}

.form-register .form-register-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}

.form-register .checkbox {
  font-weight: normal;
}

.form-register .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-register .form-control:focus {
  z-index: 2;
}

.form-register input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register input[id="update-virtual-cluster-input-virtualCluster"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-management-nav{
  border-bottom-color: #d2d6de !important;
  border-right-color: #d2d6de !important;
}

.user-edit-border {
  padding:15px;
}
