<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box text-center">
        <form id="form-change-github-pat">
          <label for="github-pat" class="text-center"><h2>Update GitHub Personal Access Token (PAT)</h2></label>
          <input type="text" name="github-pat" id="github-pat" class="form-control center-block" placeholder="GitHub Personal Access Token" autofocus>
          <br>
          <button class="btn btn-primary btn-block center-block">Update</button>
          <br>
          <a href="/how-to-config-github-pat.html"><em class="text-black">How to Config GitHub PAT?</em></a>
        </form>
      </div>
    </div>
  </div>
</section>