#form-change-github-pat {
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;

  h2 {
    padding: 1em;
  }

  input, button {
    width: 300px;
  }

  em {
    color: black;
    text-decoration: underline blue;
  }
}
