<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "Jobs" }) %></section>

<section class="content">
  <div class="box">
    <div id="view-table" class="box-body">
      <%= jobTable({ jobs: [] }) %>
    </div>
  </div>
  <%= loading() %>
</section>

<!-- Modal -->
<div id="sshInfoDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
      <p>One fine body…</p>
  </div>
  <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
  </div>
</div>

