.pa-0-i {
  padding: 0 !important
}

.full-log-link {
  color: white !important;
  &:active, &:hover, &:focus:hover {
    color: #c8c8c8 !important;
  }
  &:focus {
    color: white !important;
  }
}
