.add-title .sty-task-content{
    width: 360px;
}

.task-resource,.task-command{
    line-height: 19px;
}

.task-command{
    width: 100%;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    word-wrap: break-word; 
    word-break: normal;
}