<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "Hardware Utilization" }) %></section>

<section class="content">
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example" class="table table-bordered table-striped" style='vertical-align:middle'>
        <thead>
            <tr>
            <th>Machine Name</th>
            <th>IP Address</th>
            <th style='width:80px; text-align:center'>CPU</th>
            <th style='width:80px; text-align:center'>Memory</th>
            <th style='width:80px; text-align:center'>GPU</th>
            <th style='width:80px; text-align:center'>GPU Mem</th>
            <th style='width:80px; text-align:center'>Disk</th>
            <th style='width:80px; text-align:center'>Ethernet</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < 100; i ++) { %>
            <tr>
                <td><a href="#">Node <%= i + 1 %></a></td>
                <td>192.168.1.<%= i + 1 %></td>
                <td style='text-align:center'><i class="fa fa-circle text-red"></i></td>
                <td style='text-align:center'><i class="fa fa-circle text-yellow"></i></td>
                <td style='text-align:center'><i class="fa fa-circle text-green"></i></td>
                <td style='text-align:center'><i class="fa fa-circle-thin text-grey"></i></td>
                <td style='text-align:center'><i class="fa fa-circle text-yellow"></i></td>
                <td style='text-align:center'><i class="fa fa-circle text-green"></i></td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
</section>
