{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "2g",
    "max-file": "2"
  },
  "data-root": "{{ hostcofig["docker-data"] }}",
  "runtimes": {
      "nvidia": {
          "path": "/usr/bin/nvidia-container-runtime",
          "runtimeArgs": []
      }
  }
}
