<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "Download" }) %></section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Download</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <ul id="download-list">
        <% for(let i = 0; i < files.length; i ++) { %>
          <li>
            <a href="/assets/util/<%= files[i].name %>" download="<%= files[i].name %>"><%= files[i].name %></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</section>