# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License

apiVersion: v1
kind: Secret
metadata:
  name: registry-htpasswd
  namespace: default
data:
  htpasswd: | # test test as default, to generate htpasswd please refer to README
    {{ cluster_cfg["docker-cache"]["registry-htpasswd"] }}
