altgraph==0.14
certifi==2017.11.5
chardet==3.0.4
click==6.7
configparser==3.5.0
Flask==0.12.2
future==0.16.0
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
macholib==1.8
MarkupSafe==1.0
pefile==2017.11.5
PyInstaller==3.3
pywebhdfs==0.4.1
requests==2.18.4
six==1.11.0
urllib3==1.22
Werkzeug==0.12.2
