.content{
    background: #f1f1f1;
}
.box-content{
    padding-bottom: 0;
    .main-button{
        padding: 5px 20px;
        width: 118px;
        margin-right: 12px;
        background: white;
        border:1px solid #BEBEBE;
        color: #3B3B3B;
        margin-bottom: 1px;
        font-size: 14px;
        height: 34px;
        position: relative;
        top: 1px;
    }
    .plus-add{
        .img-add{
            width: 42px;
            height: 42px;
            margin-left: 0;
            margin-top: 0;
        }
    }
}
.template-account {
    width: 90%;
    margin: 0 auto;
    margin-top: 28px;
    padding-bottom: 20px;
    box-sizing: border-box;
    .import-sty{
        label{
            font-weight: 100;
            line-height: 23px;
        }
        label:hover{
            cursor: pointer!important;
        }
    }
}
.bg-jobmessage{
    width: 100%;
    background: white;
    .box-jobmessage{
        width: 91%;
        margin: 0 auto;
        margin-top: 10px;
        border-bottom: 1px solid #ccc;
    }
    .showDesJob{
        td{
            vertical-align: middle;
            height: 160px;
        }
        .logo {
            width: 140px;
        }
        .detail {
            margin-left: 20px;
            margin-top: 30px;
            height: 160px;
            box-sizing: border-box;
            .edit-job-name{
                position: relative;
                top: -9px;
                left: 8px;
            }
            .btns{
                position: relative;
                top: 15px;
                .detail-jobname{
                    font-size: 24px;
                    font-weight: bold;
                    margin-left: 14px;
                }
                .edit-jobinfo{
                    border: none;
                    background: none;
                }
            }
            h3 {
                font-size: 26px;
                font-weight: 600;
                padding-right: 8px;
                padding-top: 10px; 
            }
            p {
                line-height: 34px;
                font-size: 14px;
                margin-top: 30px;
            }
        }
    }     
}
.sub-titile{
    width: 212px;
    h3{
        color: #333;
        font-size: 22px;
        margin-bottom: 24px;
    }
    .preview{
        position: relative;
        top: -45px;
    }
}
.title-search{
    width: 100%;
    height: 40px;
    .subv2-title{
        width: 200px;
        min-width: 200px;
        span{
            color: #333;
            font-size: 20px;
        }
    }
    #search-input{
        float: left;
        width: 440px;
        min-width: 440px;
        margin-left: 100px;
    }
    #search-btn{
        float: left;
    }
}

.add-four{
    background: white;
    width: 100%;
    .add-content{
        width: 90%;
        margin: 0 auto;
        .add-title {
            padding-bottom: 26px;
            padding-left: 22px;
            border-bottom: 1px solid #ccc;
            h3{
                margin-bottom: 18px;
                box-sizing: border-box;
            }
        }
    }
}
.add-new-item{
    width: 178px;
    min-height: 202px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -15px;
}

.add-new-item .add-new-item-content {
    margin-bottom:-15px;
}

.add-new-item .add-new-item-content  i.glyphicon.glyphicon-plus{
    font-size: 22px;
}

.shadow{
    // padding-left: 15px;
    line-height: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.1) !important;
}
// task model style
.sty-task-input{
    margin-bottom: 15px;
}
.sty-task{
    width: 100%;
    margin-bottom: 15px;
}
// task box style
.sty-task-content{
    position: relative;
    .edit-task{
        background: none;
        border: none;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
// docker box style
.box-content .sty-docker{
    min-height: 178px;
    width: 178px;
    .edit-task{
        background: none;
        border: none;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    img{
        width: 60px;
        margin-left: 44px;
        margin-top: 28px;
    }
    h5{
        color: #333;
        font-weight: bold;
        font-size: 14px;
        margin-top: 12px;
        margin-bottom: 13px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p{
        font-size: 12px;
        line-height: 12px;
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    input[type=file] {
        font-size: 20px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
}

.grid-item{
    margin-right:15px;
}

.footer{
    width: 100%;
    height: 72px;
    background: #f1f1f1;
    position: fixed;
    left: 230px;
    bottom: 0;
    .position-btns{
        position: relative;
        left: 36%;
        top: 20px;
    }
    .sty-margin{
        padding: 5px 20px;
        margin-right: 12px;
        width: 118px;
        border-radius: 0;
    }
}

textarea#yaml-editor-holder{
    width: 100%;
    height: auto;
    min-height: 400px;
}

// when user submit job, add mask and loading
.no-submit{
    display: none;
}

.loading-submit{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    left: 0;
    top: 0;
}

// hand style
.dropdown-menu li:hover{
    cursor: pointer;
}
.add-picture:hover, .img-add:hover{
    cursor: pointer;
}
#mask  #loading{
    position: fixed !important;
}

.modal-body>div div[data-schemaid]>h3 { /* hide the json editor title*/
    display: none;
}

@media (min-width: 1080px) {
    .modal-llg {
        width: 1050px !important;
    }
}

@media (min-width: 1280px) {
    .modal-llg {
        width: 1200px !important;
    }
}

