<section class="content-header"> <%= breadcrumb({ breadcrumbTitle: "User Management" }) %> </section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="tab-content">
          <div class="tab-pane active" id="add_user">
            <form id="form-register" class="form-register">
              <h2 class="form-register-heading">Add New User</h2>
              <label for="inputUsername" class="sr-only">Username</label>
              <input type="username" name="username" id="input-username" class="form-control" placeholder="Username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="password" id="input-password" class="form-control" placeholder="Password" required>
              <label for="inputVirtualCluster" class="sr-only">VirtualCluster</label>
              <input type="virtualCluster" name="virtualCluster" id="input-virtual-cluster" class="form-control" placeholder="Virtual Clusters (e.g. vc1,vc2)">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="admin">Admin user</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block">Add User</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>