$spacing-none: 0 !default;
$spacing-extra-small: 4px !default;
$spacing-small: 8px !default;
$spacing-medium: 16px !default;
$spacing-large: 20px !default;
$spacing-extra-large: 32px !default;
$spacing-extra-extra-large: 64px !default;
$spacing-extra-extra-extra-large: 128px !default;

$dark-red: #eb1123 !default;
$yellow: #fcd116 !default;
$green: #7fba00 !default;
$blue: #0071bc !default;
