{
  "name":"PM",
  "type":"prometheus",
  "url":"{{ clusterconfig['clusterinfo']['prometheusinfo']['prometheus_url'] }}:{{ clusterconfig['clusterinfo']['prometheusinfo']['prometheus_port'] }}",
  "access":"direct",
  "basicAuth":false,
  "isDefault":true
}
