.modal-body div.well{
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent !important;
}

.modal-body div.well.well-sm .table-bordered > tbody  td{
  border: none;
}

.modal-body div.well div.well{
  padding-left: 20px;
}

.modal-body >div div[data-schemaid] >h3{
  margin-top: 0;
}

.panel-body .box-body div[data-schemaid] div.well.well-sm >.btn-group{
  margin-top: 20px;
}


.modal-body  .box-body div[data-schemaid] div.well.well-sm >.btn-group{
  margin-top: 20px;
}

.panel-body .box-body div[data-schemaid] >h3:first-child{
  display: none; 
}

.panel-body{
  padding-top:0;
}

.panel-heading{
  padding: 0 !important;
  background-color: #2eadfa !important;   
  height: 30px;
}

.shadow{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.1) !important;
}

.component{
  margin: 15px auto;
  display: flex;
  align-items: center;
}

.component-image{
  padding: 23px;
  img{
    margin: 0 auto;
    max-width: 100px;
  }
}

.input-group{
  margin-top: 50px;
  margin-bottom: 30px;
}
