<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "User Registration" }) %></section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <form id="form-register" class="form-register">
          <h2 class="form-register-heading">Add new user</h2>
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="username" name="username" id="input-username" class="form-control" placeholder="Username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="password" id="input-password" class="form-control" placeholder="Password" required>
          <div class="checkbox">
            <label><input type="checkbox" name="admin">Admin user</label>
          </div>
          <button class="btn btn-lg btn-primary btn-block">register</button>
        </form>
      </div>
    </div>
  </div>
</section>