.form-register {
  max-width: 360px;
  padding: 30px;
  margin: 0 auto;
}

.form-register .form-register-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}

.form-register .checkbox {
  font-weight: normal;
}

.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-register .form-control:focus {
  z-index: 2;
}

.form-register input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register input[type="virtualCluster"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register input[id="remove-user-input-username"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-management-nav{
  border-bottom-color: #d2d6de !important;
  border-right-color: #d2d6de !important;
}

