<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "Change password" }) %></section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <form id="form-change-password" class="form-change-password">
          <h2 class="form-change-password-heading">Change password</h2>
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="username" name="username" id="input-username" class="form-control" placeholder="Username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="password" id="input-password" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block">confirm</button>
        </form>
      </div>
    </div>
  </div>
</section>