#!/bin/bash

# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

{%- if cluster_cfg['cluster']['common']['prometheus-pushgateway'] == 'true' %}
INSTANCES="
deployment/prometheus-pushgateway
"

for instance in ${INSTANCES}; do
  kubectl delete --ignore-not-found --now ${instance} || exit $?
done

{%- endif %}
