<div class="panel-rr">
  <div class="tab-header">
    <h4>User Reviews</h4>
    <button type="button" class="btn btn-primary">Write a review</button>
  </div>
  <table class="rr-content">
    <tr>
      <td class="picture">
        <img src="${require('../../../assets/img/pic.png')}" alt="" />
      </td>
      <td class="talk_main">
        <div>
          <span class="talk_pic">Santiago Bazan</span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
        </div>
        <p class="talk_date">2018/7/23</p>
        <p class="talk_desc">Website says this was available on May 8th, this page says its still private preview.</p>
      </td>
      <td class="flag">
        <img src="${require('../../../assets/img/flag.png')}" alt="" />
      </td>
    </tr>
    <tr>
      <td class="picture">
        <img src="${require('../../../assets/img/pic1.png')}" alt="" />
      </td>
      <td class="talk_main">
        <div>
          <span class="talk_pic">Mahmoud Farahat</span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
        </div>
        <p class="talk_date">2018/7/21</p>
        <p class="talk_desc">It looks like one of updates flipped the description back to saying private preview, which is not the case. We are in fact in public preview.</p>
      </td>
      <td class="flag">
        <img src="${require('../../../assets/img/flag.png')}" alt="" />
      </td>
    </tr>
    <tr>
      <td class="picture">
        <img src="${require('../../../assets/img/pic2.png')}" alt="" />
      </td>
      <td class="talk_main">
        <div>
          <span class="talk_pic">Honey Lin</span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
        </div>
        <p class="talk_date">2018/7/20</p>
        <p class="talk_desc">Fluid, Fast and Awesome!</p>
      </td>
      <td class="flag">
        <img src="${require('../../../assets/img/flag.png')}" alt="" />
      </td>
    </tr>
    <tr>
      <td class="picture">
        <img src="${require('../../../assets/img/pic3.png')}" alt="" />
      </td>
      <td class="talk_main">
        <div>
          <span class="talk_pic">Thong Le</span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
        </div>
        <p class="talk_date">2018/7/2</p>
        <p class="talk_desc">Amazing! Good job!</p>
      </td>
      <td class="flag">
        <img src="${require('../../../assets/img/flag.png')}" alt="" />
      </td>
    </tr>
    <tr>
      <td class="picture">
        <img src="${require('../../../assets/img/pic4.png')}" alt="">
      </td>
      <td class="talk_main">
        <div>
          <span class="talk_pic">Jesus Garcia</span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star color_start" aria-hidden="true"></span>
        </div>
        <p class="talk_date">2018/7/1</p>
        <p class="talk_desc">working as expected.</p>
      </td>
      <td class="flag">
        <img src="${require('../../../assets/img/flag.png')}" alt="" />
      </td>
    </tr>
  </table>
</div>
