<div class="row">
  <div class="col-md-8 ov-left">
    <% if (data.prerequisites.length > 0) { %>
    <%= card({data: data.prerequisites, type: "Prerequisites"}) %>
    <div class="clear"></div>
    <% } %>
    <h4>Overview</h4>
    <p><%= data.description %></p>
  </div>
  <div class="col-md-4 ov-right">
    <!-- categories -->
    <div class="categories">
      <div>
        <h3>Categories</h3>
      </div>
      <div>
        <% for (let i = 0; i < data.categories.length; i ++) { %>
          <a href="#"><%= data.categories[i] %></a>
        <% } %>
      </div>
    </div>
    <!-- tags -->
    <div class="tags">
      <div>
        <h3>Tags</h3>
      </div>
      <div>
        <% for (let i = 0; i < data.tags.length; i ++) { %>
          <a href="#"><%= data.tags[i] %></a>
        <% } %>
      </div>
    </div>
    <!-- resource -->
    <div class="resource">
      <h3>Resources</h3>
      <ul>
        <li>
          <a href="#">Repository</a>
        </li>
        <li>
          <a href="#">License</a>
        </li>
        <li>
          <a href="#">Download Extension</a>
        </li>
      </ul>
    </div>
    <!-- project details -->
    <div class="resource">
      <h3>Project Details</h3>
      <ul>
        <li>
          <a href="#">
            <img src="${require('../../../assets/img/1.png')}" alt="" />
            mre/vscode-snippet
          </a>
        </li>
        <li>
          <a href="#">
            <img src="${require('../../../assets/img/2.png')}" alt="" />
            No Pull Requests
          </a>
        </li>
        <li>
          <a href="#">
            <img src="${require('../../../assets/img/3.png')}" alt="" />
            3 Open Issues
          </a>
        </li>
        <li>
          <a href="#"><img src="${require('../../../assets/img/4.png')}" alt="" />
            Last commit: 13 hours ago</a>
        </li>
      </ul>
    </div>
    <!-- More Info -->
    <div class="more_info">
      <h3>More Info</h3>
      <div>
        <table>
          <tr>
            <td>Version</td>
            <td>0.1.3</td>
          </tr>
          <tr>
            <td>Last updated</td>
            <td>2018年1月22日 10：51：05</td>
          </tr>
          <tr>
            <td>Publisher</td>
            <td>Adam Driscoll</td>
          </tr>
          <tr>
            <td>Report</td>
            <td>report Abuse</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- logo -->
    <div class="last_logo">
      <img src="${require('../../../assets/img/5.png')}" alt="" />
      <img src="${require('../../../assets/img/6.png')}" alt="" />
      <img src="${require('../../../assets/img/7.png')}" alt="" />
    </div>
  </div>
</div>
