.rating{
    margin: 0 auto;
}
.reviews{
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #eaeaea;
    border-width: 1px 0;
    padding-bottom: 10px;
    h4{
        float: left;
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-left: 26px;
        margin-top: 19px;
    }
    .write_review{
        button{
            float: right;
            margin-top: 7px;
        }
    }
}

.talk{
    width: 100%;
    margin: 0 auto;
    tr{
        border-bottom: 1px solid #eee;
    }
    .picture img{
        margin-left: 20px;
    }
    .talk_main{
        div{
            line-height: 35px;
            margin-top: 5px;
            margin-left: 20px;
            .color_start{
                // red start
                color: #CD3C2B;
                // yellow star
                // color: #FDA501;
                font-size: 12px;
            }
            .talk_pic{
                font-size: 14px;
                font-weight: bold;
                margin-right: 20px;
            }
        }
        .talk_date{
            font-size: 12px;
            color: #666;
            margin-left: 20px;
        }
        .talk_desc{
            white-space: pre-line;
            font-size: 14px;
            margin-left: 20px;
        }
    }
    .flag{
        float: right;
        margin-top: 5px;
        margin-right: 20px;
    }
}