<section class='content-header'>
  <%= breadcrumb({ breadcrumbTitle: "Marketplace" }) %>
</section>

<section class="content">
<div class="box">
  <div class="box-header">
    <button type="button" class="btn btn-success" id="btn-share">Share My Template!</button>
  </div>
  <div class="input-group col-xs-8 col-xs-offset-2">
    <input class="form-control" type="text" placeholder="Search.." id="search">
    <span class="input-group-btn">
      <button class="btn btn-info" type="submit" id="btn-search"><i class="glyphicon glyphicon-search"></i></button>
    </span>
  </div>
  <div id="table-view">
    <div id="job-table-view" class="box-body">
    </div>
    <div id="data-table-view" class="box-body">
    </div>
    <div id="script-table-view" class="box-body">
    </div>
    <div id="dockerimage-table-view" class="box-body">
    </div>
  </div>
</div>
<div id="modalPlaceHolder"></div>
<%= loading() %>
</section>
