<!--
<div id="job-table-view" class="box-body">
  <h1>job</h1>
  <table id="job-table" class="table table-bordered table-hover table-condensed"></table>
</div>
<div id="data-table-view" class="box-body">
  <h1>data</h1>
  <table id="data-table" class="table table-bordered table-hover table-condensed"></table>
</div>
<div id="script-table-view" class="box-body">
  <h1>script</h1>
  <table id="script-table" class="table table-bordered table-hover table-condensed"></table>
</div>
<div id="dockerimage-table-view" class="box-body">
  <h1>docker</h1>
  <table id="dockerimage-table" class="table table-bordered table-hover table-condensed"></table>
</div>
-->
<div id="job-table-view" class="box-body">
    <h2>job</h2>
    <div id="job-table" class="row"></div>
  </div>
  <div id="data-table-view" class="box-body">
    <h2>data</h2>
    <div id="data-table" class="row"></div>
  </div>
  <div id="script-table-view" class="box-body">
    <h2>script</h2>
    <div id="script-table" class="row"></div>
  </div>
  <div id="dockerimage-table-view" class="box-body">
    <h2>docker</h2>
    <div id="dockerimage-table" class="row"></div>
  </div>