<div class="details_box">
  <div class="title">
  <div>
    <h2>Marketplace/Jobs</h2>
  </div>
  <div class="clear"></div>
  <table class="content">
    <tr>
      <td>
        <img class="logo" src="${require('../../../assets/img/favicon.ico')}" alt="">
      </td>
      <td>
        <div class="detail">
          <h2 id="txt-name">Template Name</h2>
          <ul class="star">
            <li class="pro_name" id="txt-contributor">Contributor</li>
            <li class="one">|</li>
            <li>12 uses</li>
            <li class="two">|</li>
            <li>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </li>
          </ul>
          <p id="txt-description">Content description</p>
          <div class="detail_btn">
            <button type="button" id="btn-use" class="btn btn-success">Use</button>
            <button type="button" id="btn-run" class="btn btn-success">Run</button>
          </div>
        </div>
      </td>
    </tr>
  </table>
  </div>
</div>
<div class="three_task">
  <div class="task_content">
    <ul class="nav">
      <li class="active">
        <a href="#">Overview</a>
      </li>
      <li>
        <a href="#">Q&amp;A</a>
      </li>
      <li>
        <a href="#">Rating&amp;Review</a>
      </li>
      <li>
        <a href="#">Experiments</a>
      </li>
    </ul>
    <div class="clear"></div>
    <div class="main">
      <!-- store three task panel -->
      <div id="main_con" class="three_content"></div>
    </div>
  </div>
</div>
