<!--
<div id="job-table-view" class="box-body">
  <h1>job</h1>
  <table id="job-table" class="table table-bordered table-hover table-condensed"></table>
</div>
<div id="data-table-view" class="box-body">
  <h1>data</h1>
  <table id="data-table" class="table table-bordered table-hover table-condensed"></table>
</div>
<div id="script-table-view" class="box-body">
  <h1>script</h1>
  <table id="script-table" class="table table-bordered table-hover table-condensed"></table>
</div>
<div id="dockerimage-table-view" class="box-body">
  <h1>docker</h1>
  <table id="dockerimage-table" class="table table-bordered table-hover table-condensed"></table>
</div>
-->
<div id="job-table-view" class="box-body">
    <h2>job</h2>
    <div id="job-carousel" class="carousel slide media-carousel" data-interval="false" data-ride="carousel" data-pause="true">
      <div id="job-table" class="carousel-inner"></div>
      <a data-slide="prev" href="#job-carousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a data-slide="next" href="#job-carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <div id="data-table-view" class="box-body">
    <h2>data</h2>
    <div id="data-carousel" class="carousel slide media-carousel" data-interval="false" data-ride="carousel" data-pause="true">
      <div id="data-table" class="carousel-inner"></div>
      <a data-slide="prev" href="#data-carousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a data-slide="next" href="#data-carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <div id="script-table-view" class="box-body">
    <h2>script</h2>
    <div id="script-carousel" class="carousel slide media-carousel" data-interval="false" data-ride="carousel" data-pause="true">
      <div id="script-table" class="carousel-inner"></div>
      <a data-slide="prev" href="#script-carousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a data-slide="next" href="#script-carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <div id="dockerimage-table-view" class="box-body">
    <h2>docker</h2>
    <div id="dockerimage-carousel" class="carousel slide media-carousel" data-interval="false" data-ride="carousel" data-pause="true">
      <div id="dockerimage-table" class="carousel-inner"></div>
      <a data-slide="prev" href="#dockerimage-carousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a data-slide="next" href="#dockerimage-carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>