<section class='content-header'>
  <%= breadcrumb({ breadcrumbTitle: "Marketplace" }) %>
</section>

<section class="content">
<div class="box">
  <div class="box-header">
    <button type="button" class="btn btn-success" id="btn-share">Share My Template!</button>
  </div>
  <div class="input-group col-xs-8 col-xs-offset-2">
    <input class="form-control" type="text" placeholder="Search.." name="search">
    <span class="input-group-btn">
      <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </span>
  </div>
  <div id="table-view">
    <%= template() %>
  </div>
</div>
<div id="modalPlaceHolder"></div>
<%= loading() %>
</section>
