<div class="details_box">
  <div class="title">
  <div>
    <h2>Marketplace/Jobs</h2>
    <div class="right_btn">
      <a href="#" id="submit_job">Submit your job</a>
      <a href="#" id="share_temp">Share your template</a>
    </div>
  </div>
  <div class="clear"></div>
  <table class="content">
    <tr>
      <td>
        <img class="logo" src="${require('../../../assets/img/favicon.ico')}" alt="">
      </td>
      <td>
        <div class="detail">
          <h2>Project Name</h2>
          <ul class="star">
            <li class="pro_name">ccccccccccccc</li>
            <li class="one">|</li>
            <li>175.202.534 installs</li>
            <li class="two">|</li>
            <li>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </li>
          </ul>
          <p>A set of tools for developing and debugging PowerShell scripts and modules in Visual Studio.</p>
          <div class="detail_btn">
            <button type="button" id="use" class="btn btn-success">Use</button>
            <button type="button" id="run" class="btn btn-success">Run</button>
          </div>
        </div>
      </td>
    </tr>
  </table>
  </div>
</div>
<div class="three_task">
  <div class="task_content">
    <ul class="nav">
      <li class="active">
        <a href="#">Overview</a>
      </li>
      <li>
        <a href="#">Q&amp;A</a>
      </li>
      <li>
        <a href="#">Rating&amp;Review</a>
      </li>
      <li>
        <a href="#">Experiments</a>
      </li>
    </ul>
    <div class="clear"></div>
    <div class="main">
      <!-- store three task panel -->
      <div id="main_con" class="three_content"></div>
    </div>
  </div>
</div>
