.item .row {
  display: flex;
  align-items: center;
  width: 75%;
  height: 230px;
  margin: auto;
}

.carousel {
  margin-left: -50px;
  margin-right: -50px;
}

.left.carousel-control {
  color: grey;
}

.right.carousel-control {
  color: grey;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-right: 20px;
  width: 166px;
  height: 200px;
  text-align: center;
  font-family: wf_segoe-ui,Helvetica Neue,Helvetica,Arial,Verdana;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .img-container {
  padding: 16px 0;
  height: 108px;
}

.card .text-container {
  margin: 0 10px;
  font-family: wf_segoe-ui,-apple-system,".SFNSText-Regular","San Francisco","Roboto","Helvetica Neue","Lucida Grande",sans-serif;
  color: grey;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 146px;
}

.card .text-container .item-title {
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.card .text-container .item-contributor {
  padding: 10px 0 0 0;
  display: block;
  font-size: 13px;
}

.card .text-container .item-dsp {
  padding: 10px 0 0 0;
  display: block;
  font-size: 12px;
}

/*
.star-rating {
  font-size: 16px;
  line-height: 25px;
}
.star-rating .glyphicon-star {
  color: #FDA501;
}

.span-left {
  float: left;
  overflow: hidden;
  height:25px;
  line-height: 25px;
}

.span-right {
  float: right;
  overflow: hidden;
  height:25px;
  line-height: 25px;
}
*/