input[type=submit]#fileExport {
    width: 100px;
    display: block;
}

input[type=submit]#submitJob {
    width: 100px;
    margin-top: 20px;
}

div#editor-holder {
    overflow: auto;
}

textarea {
    resize: both;
}