<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "Submit Jobs" }) %></section>

<section class="content">
  <div class="box box-primary">
    <div class="box-body">
      <div class="form-group">
        <label for="fileUpload">Submit Job</label>
        <input id="file" type="file">
        <p id="submitHint" class="help-block"></p>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box-body">
      <p>An example config for distributed deep learning job:</p>
      <code>
        ${require('!!raw-loader!./job-submit.example.json').replace(/ /g, "&nbsp;").replace(/\n/g, "<br>")}
      </code>
    </div>
  </div>
  <%= loading() %>
</section>