<!-- Modal -->
<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a new item</h4>
      </div>
      <div class="modal-body">
        <div id="itemPlaceHolder"></div>
        <h2>Recommand</h2>
        <div id="recommandPlaceHolder"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-into" data-dismiss="modal" id="btn-add-modal">Add</button>
      </div>
    </div>
  </div>
</div>