<!-- Modal -->
<div id="addModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="btn-close-add-modal" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add a new item</h4>
      </div>
      <div class="modal-body">
        <div id="itemPlaceHolder"></div>
        <h2>Recommand</h2>
        <div id="recommandPlaceHolder"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-add-modal">Add</button>
      </div>
    </div>
  </div>
</div>
<div id="editPlaceHolder"></div>