<!-- Modal -->
<div id="userSumbitModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Submit Job</h4>
      </div>
      <div class="modal-body">
        <form id="form-update-account" class="form-register">
          <div class="form-group">
            <label for="parameters" class="label-para">Parameters</label>
            <textarea class="form-control" id="parameters" rows="2"></textarea>
          </div>
        </form>
        <div class="button-collection">
          <button type="button" id="single" class="btn btn-success">single</button>
          <button type="button" id="batch" class="btn btn-success">batch</button>
          <button type="button" id="nni" class="btn btn-success last-btn">nni</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>