input[type=submit]#submitJob,#saves {
    width: 100px;
    margin-top: 20px;
}

div#editor-holder {
    overflow: auto;
}

textarea {
    resize: both;
    min-height: 80px;
}

// save and submit inline
.disinline{
    width: 300px;
    margin: 0 auto;
}

.disinline>div{
    display: inline-block;
}

.disinline>div.one{
    margin-right: 8px;
}

// model button location
.label-para{
    margin-bottom: 12px;
}

.button-collection{
    text-align: center;
}

.button-collection>button{
    margin-right: 10px;
}

.button-collection>.last-btn{
    margin-right: 0;
}

.panel-body .box-body div[data-schemaid] >h3:first-child{
    display: none; 
}

.panel-body .box-body div[data-schemaid] .well{
    border: none;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent !important;
    margin-bottom: 0;
}

.panel-body .box-body div[data-schemaid] div.well.well-sm .table-bordered > tbody  td{
    border: none;
}

.panel-body .box-body div[data-schemaid] div.well.well-sm div div div.row{
    margin-left: 10px;
}
 
.panel-body .box-body div[data-schemaid] div.well.well-sm  div.well.well-sm  div.well.well-sm h3{
    padding-left: 25px;
}

.panel-body .box-body div[data-schemaid] div.well.well-sm >.btn-group{
    margin-top: 20px;
}

.panel-body{
    padding-top:0;
}

.panel-title{
    font-size: 24px;
}