<div class="container">
  <section class='content-header'>
    <%= breadcrumb({ breadcrumbTitle: "Submit Job" }) %>
  </section>

  <section class="content">
    <!-- user choose content -->
    <div id="user-choose-holder"></div>

    <div id="user-recommand-holder"></div>
    
    <!-- Add new item component -->
    <h4 style="margin: 50px auto 30px;"> Add a new item </h4>

    <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-3">
        <a id="add-job-btn">
          <div class="add-new-item shadow">
            <div class="add-new-item-content">
              <p>
                <i class="glyphicon glyphicon-plus"></i>
              </p>
              <p>Add Job</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a id="add-data-btn">
          <div class="add-new-item shadow">
            <div class="add-new-item-content">
              <p>
                <i class="glyphicon glyphicon-plus"></i>
              </p>
              <p>Add Data</p>
            </div>  
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a id="add-docker-btn">
          <div class="add-new-item shadow">
            <div class="add-new-item-content">
              <p>
                <i class="glyphicon glyphicon-plus"></i>
              </p>
              <p>Add Docker</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a id="add-script-btn">
          <div class="add-new-item shadow">
            <div class="add-new-item-content">
              <p>
                <i class="glyphicon glyphicon-plus"></i>
              </p>
              <p>Add Script</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- submit form and taskRples -->
    <div class="row disinline submit-container">
      <div class="one">
        <input class="btn btn-success center-block" id="saveTemplate" type="submit" value="Save as">
        <p id="save" class="help-block"></p>
      </div>
      <div>
        <input class="btn btn-success center-block" id="submitJob" type="submit" value="Run">
        <p id="submitHint" class="help-block"></p>
      </div>
    </div>

    <div id="addModalPlaceHolder" class="box-body" />

    <!-- modal for submit job -->
    <div id="submitModalPlaceHolder" class="box-body" />
    <%= loading() %>
  </section>
</div>