<div class="container">
  <section class='content-header'>
    <%= breadcrumb({ breadcrumbTitle: "Submit Job" }) %>
  </section>

  <section class="content">
    <!-- Model(Job) component-->
    <div class="panel panel-default shadow">
      <div class="panel-heading  component-heading">
        <div class="panel-title">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#job1" data-toggle="tab">job1</a></li>
              <div class="pull-right">
                <div data-toggle="collapse" data-parent="#accordion" href="#collapse-script" id="script-title">
                  <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
              </div>
            </ul>
        </div>
      </div>
      <div id="collapse-job" class="panel-collapse collapse in">
        <div class="row component">
          <div class="tab-content">
            <div class="col-md-2 component-image">
              <img src="/assets/img/job.png" alt="model-logo" class="img-responsive"></img>
            </div>
            <div class="col-md-10 component-summary">
              <h3> Job Name </h3>
              <div class="contributor"> Contributor </div>
              <div class="description"> This is a Job. </p>
                <!-- <div class="box-body" id="editor-job-holder" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Data component -->
    <div class="panel panel-default shadow">
      <div class="panel-heading">
        <div class="panel-title">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#data1" data-toggle="tab">data1</a></li>
              <div class="pull-right">
                <div data-toggle="collapse" data-parent="#accordion" href="#collapse-script" id="script-title">
                  <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
              </div>
            </ul>
          </div>
      </div>
      <div id="collapse-data" class="panel-collapse collapse in">
        <div class="row component">
          <div class="tab-content">
            <div class="col-md-2 component-image">
              <img src="/assets/img/data.png" alt="model-logo" class="img-responsive"></img>
            </div>
            <div class="col-md-10 component-summary">
              <h3> Data Name </h3>
              <div class="contributor"> Contributor </div>
              <div class="description"> This is a data. </p>
                <!-- <div class="box-body" id="editor-data-holder" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Docker component -->
    <div class="panel panel-default shadow">
      <div class="panel-heading">
        <div class="panel-title">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#docker1" data-toggle="tab">docker1</a></li>
              <div class="pull-right">
                <div data-toggle="collapse" data-parent="#accordion" href="#collapse-script" id="script-title">
                  <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
              </div>
            </ul>
        </div>
      </div>
      <div id="collapse-docker" class="panel-collapse collapse in">
        <div class="row component">
          <div class="tab-content">
            <div class="col-md-2 component-image">
              <img src="/assets/img/dockerimage.png" alt="model-logo" class="img-responsive"></img>
            </div>
            <div class="col-md-10 component-summary">
              <h3> Docker Name </h3>
              <div class="contributor"> Contributor </div>
              <div class="description"> This is a docker. </p>
                <!-- <div class="box-body" id="editor-docker-holder" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Script component -->
    <div class="panel panel-default shadow">
      <div class="panel-heading">
        <div class="panel-title">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#script1" data-toggle="tab">Script1</a></li>
            <li><a href="#script2" data-toggle="tab">script2</a></li>
            <li><a href="#script3" data-toggle="tab">script3</a></li>
            <div class="pull-right">
              <div data-toggle="collapse" data-parent="#accordion" href="#collapse-script" id="script-title">
                <i class="glyphicon glyphicon-chevron-down"></i>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div id="collapse-script" class="panel-collapse collapse in">
        <div class="row component">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="script1">
              <div class="col-md-2 component-image">
                <img src="/assets/img/script.png" alt="model-logo" class="img-responsive"></img>
              </div>
              <div class="col-md-10 component-summary">
                <h3> Script Name </h3>
                <div class="contributor"> Contributor </div>
                <div class="description"> This is a Script. </p>
                  <!-- <div class="box-body" id="editor-Script-holder" /> -->
                </div>
              </div>
            </div>

            <div class="tab-pane fade " id="script2">
              <div class="col-md-2 component-image">
                <img src="/assets/img/script.png" alt="model-logo" class="img-responsive"></img>
              </div>
              <div class="col-md-10 component-summary">
                <h3> Script2 Name </h3>
                <div class="contributor"> Contributor </div>
                <div class="description"> This is a Script. </p>
                  <!-- <div class="box-body" id="editor-Script-holder" /> -->
                </div>
              </div>
            </div>

            <div class="tab-pane fade " id="script3">
              <div class="col-md-2 component-image">
                <img src="/assets/img/script.png" alt="model-logo" class="img-responsive"></img>
              </div>
              <div class="col-md-10 component-summary">
                <h3> Script3 Name </h3>
                <div class="contributor"> Contributor </div>
                <div class="description"> This is a Script. </p>
                  <!-- <div class="box-body" id="editor-Script-holder" /> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add new item component -->
    <h4 style="margin: 50px auto 30px;"> Add a new item </h4>

    <div class="row" style="margin-bottom: 50px;">
      <div class="col-md-3">
        <div class="add-new-item shadow">
          <div class="add-new-item-content">
            <p>
              <i class="glyphicon glyphicon-plus"></i>
            </p>
            <p>Add Job</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="add-new-item shadow">
          <div class="add-new-item-content">
            <p>
              <i class="glyphicon glyphicon-plus"></i>
            </p>
            <p>Add Data</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="add-new-item shadow">
          <div class="add-new-item-content">
            <p>
              <i class="glyphicon glyphicon-plus"></i>
            </p>
            <p>Add Docker</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="add-new-item shadow">
          <div class="add-new-item-content">
            <p>
              <i class="glyphicon glyphicon-plus"></i>
            </p>
            <p>Add Script</p>
          </div>
        </div>
      </div>
    </div>

    <!-- submit form and taskRples -->
    <div class="row disinline submit-container">
      <div class="one">
        <input class="btn btn-success center-block" id="saves" type="submit" value="Save as">
        <p id="save" class="help-block"></p>
      </div>
      <div>
        <input class="btn btn-success center-block" id="submitJob" type="submit" value="Run">
        <p id="submitHint" class="help-block"></p>
      </div>
    </div>


    <!-- modal for submit job -->
    <div id="modalPlaceHolder" class="box-body" />
    <%= loading() %>
  </section>
</div>