input[type=submit]#submitJob,#saves {
    width: 100px;
    margin-top: 20px;
}

div#editor-holder {
    overflow: auto;
}

textarea {
    resize: both;
    min-height: 80px;
}

// save and submit inline
.disinline{
    width: 300px;
    margin: 0 auto;
}

.disinline>div{
    display: inline-block;
}

.disinline>div.one{
    margin-right: 8px;
}

// model button location
.label-para{
    margin-bottom: 12px;
}

.button-collection{
    text-align: center;
}

.button-collection>button{
    margin-right: 10px;
}

.button-collection>.last-btn{
    margin-right: 0;
}

.panel-body .box-body div[data-schemaid] >h3:first-child{
    display: none; 
}

.json-editor-modal .modal-content{
    background-color: rgb(245, 245, 245);
}

.modal-body div.well{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent !important;
}

.modal-body div.well.well-sm .table-bordered > tbody  td{
    border: none;
}

.modal-body div.well div.well{
    padding-left: 20px;
}

.modal-body >div div[data-schemaid] >h3{
    margin-top: 0;
}

.panel-body .box-body div[data-schemaid] div.well.well-sm >.btn-group{
    margin-top: 20px;
}


.modal-body  .box-body div[data-schemaid] div.well.well-sm >.btn-group{
    margin-top: 20px;
}

.panel-body{
    padding-top:0;
}

.panel-heading{
    color: #fff !important;
    padding: 0 !important;
}

.panel-title{
    background-color: #2eadfa !important;   
    font-size: 20px;
}

.panel-title .nav-tabs{
    border-bottom: none;
}

.panel-title .nav-tabs a,
.panel-title .nav-tabs .active a,
.panel-title .nav-tabs .active a:hover,
.panel-title .nav-tabs .active a:focus{
    border: none;
    background-color: transparent !important;
}


.panel-title .nav-tabs li a{
    color: #fff !important;
    margin: 0 15px;
}

.panel-title .nav-tabs >li{
    border-right: 1.5px solid #fff;
}

.panel-title .nav-tabs .active{
    background-color: rgb(54,127,168);
}

.panel-title div.pull-right{
    padding: 10px 15px;
}


.component{
    margin: 15px auto 25px;
}

.component-image{
    padding:23px;
}

.component-image img{
    margin: 0 auto;
    max-width: 100px;
}

.component-summary .contributor{
   font-size:18px;
   margin-top: 10px;
}

.component-summary .description{
    margin-top: 10px;
}

.add-new-item{
    min-height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-new-item .add-new-item-content {
    margin-bottom:-15px;
}

.add-new-item .add-new-item-content  i.glyphicon.glyphicon-plus{
    font-size: 22px;
}

.shadow{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.1) !important;
}

.submit-container{
    margin: auto !important;
    text-align: center;
}

section.content{
    margin-top: 30px;
}

.user-control-btn{
    padding: 23px;
}

.user-control-btn button{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}