<section class='content-header'>
    <%= breadcrumb({ breadcrumbTitle: "Submit Job" }) %>
  </section>
  
  <section class="content">
    <div class="box">
    </div>
    <%= loading() %>
  </section>
  