<section class="content">
  <div class="box">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="page-header">
          <h2>How to Config GitHub Personal Access Token</h2>
        </div>
        <ol>
          <li>
            <p>Click this <a href="https://github.com/settings/tokens/new?description=PAIShare_Access&scopes=public_repo">link</a> to login your account at GitHub & click "Generate token"</p>
            <p><img class="img-responsive center-block" src="/assets/img/how-to-config-github-pat-1.png"></p>
          </li>
          <li>
            <p>Copy the new generated token:</p>
            <p><img class="img-responsive center-block" src="/assets/img/how-to-config-github-pat-2.png"></p>
          </li>
          <li>
            <p>Paste token into GitHub Personal Access Token field -> Click "Update" button</p>
            <p><img class="img-responsive center-block" src="/assets/img/how-to-config-github-pat-3.png"></p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>