<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "Change password" }) %></section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <form id="form-change-password" class="form-change-password">
          <h2 class="form-change-password-heading">Change password</h2>
          <label for="inputOldPassword" class="sr-only">Old password</label>
          <input type="password" name="old-password" id="input-old-password" class="form-control" placeholder="Old password" required autofocus>
          <label for="inputNewPassword" class="sr-only">New password</label>
          <input type="password" name="new-password" id="input-new-password" class="form-control" placeholder="New password" required>
          <label for="inputNewPasswordConfirm" class="sr-only">Confirm new password</label>
          <input type="password" name="new-password-confirm" id="input-new-password-confirm" class="form-control" placeholder="Confirm new password" required>
          <br>
          <button class="btn btn-lg btn-primary btn-block">update password</button>
        </form>
      </div>
    </div>
  </div>
</section>