window.ENV = {
  restServerUri: '${REST_SERVER_URI}',
  yarnWebPortalUri: '${YARN_WEB_PORTAL_URI}',
  k8sDashboardUri: '${K8S_DASHBOARD_URI}',
  exporterPort: '${EXPORTER_PORT}',
  promScrapeTime: '${PROM_SCRAPE_TIME}',
  authnMethod: '${AUTHN_METHOD}',
  pylonAddress: '${PYLON_ADDRESS}',
  serviceName: '${SERVICE_NAME}',
  proxyUri: '${PROXY_URI}',
  cacheUri: '${CACHE_URI}',
  usageStatisticUri: '${DATA_STATISTIC_URI}',
  subClusters: '${SUB_CLUSTERS}',
  fileUploadMethod: '${FILE_UPLOAD_METHOD}',
  subcluster: '${SUBCLUSTER}',
  apiGatewayPortmap: {
    RestServer: ${RESTSERVER_AGI_PORT},
    Login: ${LOGIN_AGI_PORT},
    ResourceManager: ${RESOURCEMANAGER_AGI_PORT},
    HttpFS: ${HTTPFS_AGI_PORT},
    SparkJobHistory: ${SPARKJOBHISTORY_AGI_PORT},
  },
  preferredAgiCluster: '${PREFERRED_AGI_CLUSTER}',
  debug: ${DEBUG},
  debugLoginServerAddress: '${DEBUG_LOGIN_SERVER_ADDRESS}',
};

window.PAI_PLUGINS = [${WEBPORTAL_PLUGINS}][0] || [];