window.ENV = {
  restServerUri: '${REST_SERVER_URI}',
  prometheusUri: '${PROMETHEUS_URI}/prometheus',
  yarnWebPortalUri: '${YARN_WEB_PORTAL_URI}',
  grafanaUri: '${GRAFANA_URI}',
  k8sDashboardUri: '${K8S_DASHBOARD_URI}',
  exporterPort: '${EXPORTER_PORT}',
  promScrapeTime: '${PROM_SCRAPE_TIME}',
  authnMethod: '${AUTHN_METHOD}',
  pylonAddress: '${PYLON_ADDRESS}',
  webHDFSUri: '${WEBHDFS_URI}',
  logType: '${LOG_TYPE}',
  alertManagerUri: '${ALERT_MANAGER_URI}/alert-manager',
  launcherType: '${LAUNCHER_TYPE}',
  jobHistory: '${JOB_HISTORY}',
};

window.PAI_PLUGINS = [${WEBPORTAL_PLUGINS}][0] || [];
