.add-title .sty-task-content{
    width: 360px;
}

.task-resource,.task-command{
    line-height: 19px;
}

.task-command{
    width: 100%;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    word-wrap: break-word; 
    word-break: normal;
}

// page ... menu style
.edit-task button{
    border: none;
    background: none;
    position: relative;
    top: -8px;
    right: -4px;
}
// .btn-non-sty{
//     border: none;
//     background: red;
// }

ul.dropdown-menu{
    min-width:100px;
}
