name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  rest-server:
    name: Test rest server on node${{ matrix.node_version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: [8, 10]
        os: [ubuntu-16.04, ubuntu-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        version: ${{ matrix.node_version }}
    - name: yarn install and test
      run: |
        cd src/rest-server
        yarn config set ignore-engines true
        yarn install --frozen-lockfiles
        yarn test

  webportal:
    name: Test webportal on node${{ matrix.node_version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: [8, 10]
        os: [ubuntu-16.04, ubuntu-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        version: ${{ matrix.node_version }}
    - name: yarn install, build and test
      run: |
        cd src/webportal
        yarn config set ignore-engines true
        yarn install --frozen-lockfiles
        yarn build
        yarn test
